
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&family=Noto+Sans:wght@400;700&display=swap');

@layer base {
  body {
    @apply bg-bg text-white font-manrope;
    min-height: 100vh;
    line-height: 1.55;
  }
  html {
    font-family: "Manrope", "Noto Sans", sans-serif;
    background-color: #181711;
  }
  ::selection {
    background: #16C78466;
  }
}

@layer utilities {
  .shadow-green {
    box-shadow: 0 3px 18px 0 #16C78466;
  }
}
